.header-card {
    .header-card__main-content {
        width: 40%;
        margin: 30px;
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.3);

        .header-card__main-content-title {
            padding: 20px 20px 0 20px;
            margin-bottom: 20px;
            h2 {
                text-transform: capitalize;
                font-size: 2.5rem;
            }
        }

        .header-card__main-content-body {
            padding: 20px 20px 0 20px;
            a{
                display: inline-block;
                margin-top: 20px;
                color: #fff;
                text-transform: capitalize;
                text-decoration: underline;
                span {
                    font-size: 0.7rem;
                }
            }
            p{
                &:last-child{
                    font-size: 1rem;
                    margin-top: 30px;
                    text-transform: capitalize;
                    font-weight: bold;
                }
            }
        }
        .header-card__thumbs-container {
            margin-top: 20px;
            .thumbs-up-container{
                padding: 20px;
                background-color: #1ebbb4;
                text-align: center;
                opacity: 0.9;
                span {
                    font-size: 2rem;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(75, 122, 120);
                }
 
            }
            .thumbs-down-container {
                padding: 20px;
                background-color: #ffad1c;
                text-align: center;
                opacity: 0.9;
                span {
                    font-size: 2rem;
                }
                &:hover{
                    background-color: rgb(145, 103, 30);
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:575px){
    .header-card {
        .header-card__main-content {
            width: 80%;
            .header-card__thumbs-container {
                .thumbs-up-container {
                    width: 50%;
                }
                .thumbs-down-container {
                    width: 50%;
                }
            }
        }
    }
}