main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    .info-content {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 30px 0;
        padding: 10px;
        background-color:#EBEBEB;
        .info-content__left {
            width: 20%;
            text-align: center;
            margin-right: 10px;
            p{
                &:last-child {
                    font-size: 1.7rem;
                    font-weight: bold;
                }
            }
        }
        .info-content__right {
            width: 70%;
        }
        .close-info-content {
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
                cursor: pointer;
            }
        }
    }
    .votes-summary {
        .votes-summary__title{
            margin-bottom: 30px;
        h3 {
                font-size: 2rem;
            }
        }
        .votes-container {
            text-align: center;
            .single-card {
                display: inline-block;
            }
        }
    }
    .add-people {
        background-image: url('/img/people.jpg');
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgba(248, 240, 240, 0.6);
        p {
            display: flex;
            align-items: center;
            font-size: 1.1rem;
        }      
        .button-container {
            button {
                border: 2px solid #000;
                color: #000;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width:767px){
    main {
        .info-content {
            text-align: center;
            display: block;
            .info-content__left {
                width: 100%;
                margin-bottom: 10px;
            }
            .info-content__right {
                width: 100%;
            }
            .close-info-content {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        .votes-summary {
            .votes-summary__title {
                text-align: center;
            }
        }
        
    }
}
