main {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    .info-content {
        margin: 30px 0;
        padding: 10px;
        background-color:#EBEBEB;
        .info-content__left {
            padding-right: 0;
            text-align: center;
            p{
                &:last-child {
                    font-size: 1.7rem;
                    font-weight: bold;
                }
            }
        }
        .info-content__right {
            padding-left: 0;
        }
        .close-info-content {
            display: flex;
            align-items: center;
            span {
                cursor: pointer;
            }
        }
    }
    .votes-summary {
        .votes-summary__title{
            margin-bottom: 30px;
        h3 {
                font-size: 2rem;
            }
        }
    }
    .add-people {
        background-image: url('../assets/img/people.jpg');
        background-size: cover;
        .row {
            padding: 10px;
            background-color: rgba(248, 240, 240, 0.6);
            p {
             display: flex;
             align-items: center;
             font-size: 1.1rem;
            }
        }
    }
}